h3.users_wp_section_heading {
  background-color: #e7e7e7;
  padding: 10px;
  font-size: 13px;
  color: #6d6d6d;
  text-transform: uppercase;
  border-bottom: 1px #dedede solid;
  border-top: 1px #fff solid;
  margin: 0;
}

.uwp-form-table {
  border-collapse: collapse;
  margin-top: .5em;
  width: 100%;
  clear: both;
  margin-bottom: 0;
}
.uwp-form-table,
.uwp-form-table td,
.uwp-form-table td p,
.uwp-form-table th {
  font-size: 14px;
}

.uwp-form-table th {
  vertical-align: top;
  text-align: left;
  padding: 15px 10px 5px 0;
  width: 200px;
  line-height: 1.3;
  font-weight: 600;
  color: #23282d;
  text-shadow: none;
}
.uwp-form-table td {
  margin-bottom: 9px;
  padding: 10px 10px 10px 0;
  line-height: 1.3;
  vertical-align: middle;
}

.uwp-form-table p,
.uwp-form-table span.description {
  font-size: 13px;
  font-style: italic;
}
.uwp-form-table span.description {
  display: block;
}
.uwp-form-table input[type=text] {
  min-width: 300px;
}
.uwp-form-table .short_code {
  font-weight: bold;
  padding-top: 5px;
  display: block;
}
.item-list-tabs {
  .filter-links {
    a, a:hover, a:active, a:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
.uwp_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.uwp_sidebar_label_block {
  th {
    display: none;
  }
}
.uwp_media_preview {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.uwp_media_input {
  display: inline-block;
  vertical-align: top;
  max-width: 372px;
}