#uwp_form_builder_container {
  padding: 0;
  overflow: hidden;
  width: auto;
  //margin: 20px 15px 20px 6px;

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .uwp-side-sortables {
    /* width:280px;*/
    border: 1px #DFDFDF solid;
    background: #F5F5F5;
    p {
      padding: 0 10px;
    }
    .uwp-tabs-panel {
      height: auto;
      overflow: visible;
      padding: 0.5em 0 0.5em 4px;
      background-color: #FFFFFF;
      border: 1px #DFDFDF solid;
      ul {
        margin: 0;
      }
    }
    h3 {
      font-size: 15px;
      font-weight: normal;
      line-height: 1;
      padding: 8px 10px;
      margin: 0;
      border-bottom: 1px #DFDFDF solid;
      text-shadow: 0 1px 0 #FFFFFF;
      display: inline-block;
    }

    .inside {
      position: relative;
      margin: 10px 0;
      line-height: 1.4em;
      padding: 0 12px 0 10px;
    }

    .posttype-tabs {
      margin-bottom: 0;
      li {
        display: inline;
        margin-bottom: 0;
        padding: 5px 5px 1px 5px;
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }

    #uwp-form-builder-tab-custom {
      .super-duper-content-open {
        display: none;
      }
    }

  }

  #uwp-available-fields {
    ul li {
      float: left;
      list-style: none outside none;
      width: 50%;
    }
    ul.full li {
      float: left;
      list-style: none outside none;
      width: 100%;
    }
  }

  .uwp-draggable-form-items {
    border: 1px solid #BBBBBB;
    color: #464646;
    display: block;
    margin-right: 8px;
    padding: 4px 0 4px 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
    background: #fafafa;
    b {
      display: inline-block;
      height: 16px;
      left: 8px;
      line-height: 16px;
      position: absolute;
      width: 18px;
    }
  }
}

#uwp_form_builder_container {
  .uwp-taxonomy b {
    background-position: -10px -10px;
  }

  .uwp-text b {
    background-position: -10px -91px;
  }

  .uwp-link b {
    background-position: -10px -91px;
  }

  .uwp-textarea b {
    background-position: -10px -176px;
  }

  .uwp-checkbox b {
    background-position: -10px -261px;
  }

  .uwp-select b {
    background-position: -10px -10px;
  }

  .uwp-multiselect b {
    background-position: -10px -10px;
  }

  .uwp-datepicker b {
    background-position: -10px -218px;
  }

  .uwp-url b {
    background-position: -10px -360px;
  }

  .uwp-digits b, .uwp-captcha b {
    background-position: -10px -454px;
  }

  .uwp-phone b {
    background-position: -10px -532px;
  }

  .uwp-file b {
    background-position: -10px -590px;
  }

  .uwp-radio b {
    background-position: -10px -53px;
  }

  .uwp-address b {
    background-position: -10px -132px;
  }

  .uwp-email b {
    background-position: -10px -306px;
  }

  .uwp-currency b {
    background-position: -10px -408px;
  }

  .uwp-time b {
    background-position: -10px -493px;
  }

  .uwp-html b {
    background-position: -10px -562px;
  }

  .uwp-instructions b {
    background-position: -10px -623px;
  }

  .uwp-side-sortables {
    .hndle {
      cursor: move;
      background: #F1F1F1
    }
    .handlediv {
      float: right;
      height: 31px;
      width: 27px;
      cursor: pointer;
    }
    .handlediv:hover {
      background: url(../../images/arrows.png) no-repeat 6px 7px;
    }
  }

  .uwp-datetime b {
    background-position: -10px -218px;
  }

  .uwp-sort-uwp_timing b {
    background-position: -10px -493px;
  }

  .uwp-enum.uwp-sort-is_featured b {
    background-position: -10px 104px;
  }

  .uwp-float.uwp-sort-overall_rating b {
    background-position: -10px 211px;
  }

  .uwp-bigint.uwp-sort-comment_count b {
    background-position: -10px 35px;
  }

  .uwp-random.uwp-sort-post_title b {
    background-position: -10px 70px;
  }

  span.field-type {
    float: right;
    margin-right: 25px;
    font-weight: initial;
  }

  .icon-arrow {
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
}


/*.general-form-builder-frame{ margin-left:290px;}*/
/*.uwp-side-sortables{ margin-left:-290px; float:left;}*/

#uwp_form_builder_container {
  .field_row_main {
    margin: 0 7px;
    background: #fff;
    ul {
      margin-top: 0;
    }
    .title {
      border: 1px #DFDFDF solid;
      background: #F1F1F1;
      height: 37px;
      line-height: 32px;
      overflow: hidden;
      padding-left: 10px;
      position: relative;
      text-shadow: 0 1px 0 #FFFFFF;
      word-wrap: break-word;
      padding-top: 3px;
      margin-bottom: 1px;
      cursor: move;
      .handlediv {
        float: right;
        height: 26px;
        width: 26px;
        margin: 2px;
        cursor: pointer;
        vertical-align: middle;
      }
      .handlediv.close {
        font-size: 12px;
        color: #D70000;
        position: absolute;
        right: -12px;
        top: 2px;
      }
      .handlediv.move {
        font-size: 18px;
        color: #666;
        margin-top: -2px;
      }
    }
    .uwp-fieldset {
      background: #fafafa;
    }
  }

  .field_row_main_sort {
    float: left;
    margin: 0 7px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-height: 405px;
    width: 95%;
    ul {
      margin-top: 0;
    }
    .title {
      border: 1px #DFDFDF solid;
      background: #F1F1F1;
      height: auto;
      line-height: 32px;
      overflow: hidden;
      padding-left: 10px;
      position: relative;
      text-shadow: 0 1px 0 #FFFFFF;
      word-wrap: break-word;
      padding-top: 3px;
      margin-bottom: 1px;
      cursor: move;
      .handlediv {
        float: right;
        height: 26px;
        width: 26px;
        margin: 2px;
        cursor: pointer;
        vertical-align: middle;
      }
    }
    .uwp-fieldset {
      background: linear-gradient(to bottom, #E3E3E3 0px, #CCCCCC 100%) repeat scroll 0 0 #E3E3E3;
      box-shadow: 0 1px 0 #E3E3E3 inset;
    }
  }
}


#uwp-selected-fields {
  .ui-sortable-handle{
    background: #eee;
  }
  .li-settings{
    position: relative;
  }
  .field_frm{
    padding: 10px;
  }
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 6px 12px;
    height: 34px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  ul li label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #666666;
  }

  .fa-info-circle{
    color: #3673cc;
    font-size: 16px;
  }

  .toggle-arrow {
    position: absolute;
    right: 0;
    padding: 12px;
    cursor: pointer;
    z-index: 99;
  }
}




#uwp_form_builder_container {
  margin-right: 0;

  .uwp-side-sortables {
    width: 32%;
    float: left;
  }

  /*.field_row_main{ width:63%; float:left;}*/
  .field_row_main_sort {
    width: 63%;
    float: left;
  }

  #uwp-form-builder-tab,
  #uwp-form-builder-tab-predefined,
  #uwp-form-builder-tab-custom {
    float: left;
    width: 100%;
  }
  #uwp-form-builder-tab ul {
    margin: 0;
  }

  #uwp-form-builder-tab-sort ul {
    margin: 0;
  }
}

.uwp-setting-name {
  .uwp-help-tip {
    float: none;
    margin: 0;
  }
}

.uwp-tab-actions {
  .uwp-advanced-toggle {
    float: left;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }

  input#save {
    margin-right: 7px;
  }

  a.item-delete {
    color: #a00;
    vertical-align: middle;
  }
}

  /* tooltip css */

  .uwp-tooltip-wrap {
    position: relative;
    text-align: left;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
    width:100%;
    display: block;

    .uwp-tooltip {
      text-align: center;
      background: #1496bb;
      color: #fff;
      display: block;
      left: -25px;
      margin-bottom: 15px;
      opacity: 0;
      padding: 20px;
      pointer-events: none;
      position: absolute;
      width: 100%;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
      -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      bottom: -200px;
    }

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .uwp-tooltip:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .uwp-tooltip:after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid #1496bb 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }

    &:hover .uwp-tooltip {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
      transition-delay:0.5s;
      bottom: 100%;
    }
  }

  /* IE can just show/hide with no transition */
  .lte8 {
    .uwp-tooltip-wrap {
      .uwp-tooltip {
        display: none;
      }
      &:hover .uwp-tooltip {
        display: block;
        transition-delay:0.5s;
      }
    }
  }

  #uwp_form_builder_container {
    /*
  Radio input buttons
  */
    .uwp-cb-enable, .uwp-cb-disable,
    .uwp-cb-enable span, .uwp-cb-disable span {
      display: block; float: left;
    }
    .uwp-cb-enable span, .uwp-cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .uwp-cb-enable span { padding: 0 10px;

      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;

      border: 1px solid #bbb;
      border-right: none;
      background: #e8e8e8;
      background-image: -webkit-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -moz-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -ms-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -o-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: linear-gradient(to bottom, #e8e8e8, #cccccc);
    }
    .uwp-cb-disable span { padding: 0 10px;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      border: 1px solid #bbb;
      border-left: none;
      background: #e8e8e8;
      background-image: -webkit-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -moz-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -ms-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: -o-linear-gradient(top, #e8e8e8, #cccccc);
      background-image: linear-gradient(to bottom, #e8e8e8, #cccccc);
    }

    .uwp-ri-disabled:checked + .uwp-cb-disable span {
      border-color: #616161;
      background: #878787;
      background-image: -webkit-linear-gradient(top, #878787, #616161);
      background-image: -moz-linear-gradient(top, #878787, #616161);
      background-image: -ms-linear-gradient(top, #878787, #616161);
      background-image: -o-linear-gradient(top, #878787, #616161);
      background-image: linear-gradient(to bottom, #878787, #616161);
      color: #fff; }

    .uwp-ri-enabled:checked + .uwp-cb-enable span {
      border-color: #2980b9;
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      color: #fff; }
    .uwp-switch label { cursor: pointer; }
    .uwp-switch input { display: none; }
    .uwp-switch {height: 32px;}

    .advance.ui-sortable .ui-state-highlight,
    .core.ui-sortable .ui-state-highlight{
      width: 100%;
      height:37px;
      background: #fd9720;

    }

    .select2-container{ width: 100% !important;}
  }

  @media screen and (max-width: 768px) {
    #uwp_form_builder_container {
      .field_row_main {
        margin: 0;
        width: auto;
        float: none;
      }

      .field_row_main_sort {
        margin: 0;
        width: auto;
        float: none;
      }

      .uwp-side-sortables {
        width: auto;
        float: none;
        margin-bottom: 15px;
      }
    }

  }

  @media screen and (min-width: 768px) and (max-width: 920px) {
    #uwp_form_builder_container {
      .field_row_main {
        margin: 0;
        width: 54%;
      }

      .field_row_main_sort {
        margin: 0;
        width: 54%;
      }

      .uwp-side-sortables {
        width: 38%;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  @media screen and (min-width: 920px) and (max-width: 1080px) {
    #uwp_form_builder_container {
      .field_row_main {
        margin: 0;
        width: 48%;
      }

      .field_row_main_sort {
        margin: 0;
        width: 48%;
      }

      .uwp-side-sortables {
        width: 42%;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  @media screen and (min-width: 1080px) and (max-width: 2080px) {
    #uwp_form_builder_container {
      /*.field_row_main{ margin:0; width:48%;}*/
      .field_row_main_sort {
        margin: 0;
        width: 48%;
      }

      #uwp-available-fields.uwp-side-sortables {
        width: 42%;
        margin-right: 15px;
        margin-bottom: 15px;
      }

      #uwp-selected-fields.uwp-side-sortables {
        width: 55%;
        margin-bottom: 15px;
      }
    }
  }