#users-wp {
  .widefat {
    border: none;
    box-shadow: none;
  }
  .content-box {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 20px;
  }
  a {
    text-decoration: none;
  }
  .item-list-tabs ul.item-list-tabs-ul {
    border-bottom: 1px solid #ddd;
    > li {
      float: left;
      // Make the list-items overlay the bottom border
      margin-bottom: -1px;

      // Actual tabs (as links)
      > a {
        position: relative;
        display: block;
        padding: 5px 10px;
        color: #23282d;
        margin-right: 4px;
        background-color: #e4e4e4;
        line-height: 1.42857143;
        border: 1px solid #cdcdcd;
        &:hover {
          background-color: #f1f1f1;
        }
      }

      // Active state, and its :hover to override normal :hover
      &.selected > a {
        &,
        &:hover,
        &:focus {
          color: #555;
          cursor: default;
          background-color: #f1f1f1;
          border: 1px solid #cdcdcd;
          border-bottom-color: transparent;
          opacity: 1;
          font-weight: normal;
        }
      }
    }
    &:before,
    &:after {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      clear: both;
    }
  }

  .item-list-sub-tabs-ul {
    overflow: hidden;
    > li {
      float: left;
      padding: 0 8px;
      border-right: 2px solid #959595;
      font-size: 14px;
      &:last-child {
        border-right: none;
      }
      &:first-child {
        padding-left: 0;
      }
      &.selected {
        a {
          color: #23282d;
          font-weight: bold;
        }
      }
    }
  }
}

.uwp-form-table {
  label {
    display: block;
  }
  label {
    color: #666;
    font-size: 14px;
    font-style: italic;
    margin: 4px 0 0;
  }
  .uwp_label_inline {
    label {
      display: inline !important;
    }
    td {
      padding: 5px 10px;
    }
  }
}

ul.core.uwp_form_extras.ui-sortable {
  ul:not(.widefat) {
    padding-left: 25px;
  }
  li {
    margin: 5px 0 !important;
  }
}