.uwp_page {
  .uwp-button-wrap {
    .uwp_button {
      background: #717171 none repeat scroll 0 0;
      border: 0 none;
      color: #fff !important;
      font-weight: bold;
      width: 90%;
      padding: 4px 6px;
      height: auto;
      line-height: normal;
      text-align: center;
      margin: 10px auto;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      white-space: nowrap;
      border-radius: 4px;
    }
  }
  .uwp_gridview {
    .uwp-button-wrap {
      .uwp_button {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }
  .uwp_listview {
    .uwp-button-wrap {
      .uwp_button {
        width: auto;
        margin-bottom: 0;
      }
    }
  }
}