.uwp_page,
.uwp_widgets {
  .uwp-login-form,
  .uwp-registration-form,
  .uwp-forgot-form,
  .uwp-change-form,
  .uwp-account-form {

    label {
      display: none;
    }

    input[type="text"],
    textarea,
    input[type="password"],
    input[type="button"],
    input[type="phone"],
    input[type="tel"],
    input[type="time"],
    input[type="submit"],
    input[type="url"],
    input[type="email"],
    input[type="file"],
    select {
      margin: 0 0 20px;
      padding: 12px 15px;
      height: auto;
      line-height: normal;
      width: 100%;
      box-sizing: border-box;
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin-bottom: 20px;
    }

    .uwp_form_radio_row {
      label {
        display: block;
      }
    }
    .uwp_form_file_row {
      label {
        display: block;
      }
      input {
        font-size: 13px;
        border: 1px solid #bbb;
        border-radius: 3px;
      }

    }

    input.uwp-half {
      margin: 0 2% 20px 0;
      padding: 12px 15px !important;
      width: 49% !important;
      float: left !important;
      box-sizing: border-box;
    }

    input.uwp-half.uwp-half-right {
      margin-right: 0;
    }

    input.uwp-half:nth-child(4) {
      margin-right: 0;
    }

    input[type="submit"] {
      background: #717171 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
    }
  }
  .uwp_wc_form {
    label {
      display: inline !important;
    }
    h3 {
      display: none;
    }
    p {
      margin: 0;
    }
  }

  .uwp-remember-me {
    float: left;
  }

  .uwp-forgotpsw {
    float: right;
  }

  .uwp-register-now, .uwp-login-now {
    display: block;
    margin: 30px 0 0;
    text-align: center
  }
  .uwp_input_fieldset {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  .uwp_upload_file_preview {
    float: left;
    box-shadow: none;
    margin-bottom: 5px;
    display: inline-block;
    img {
      width: 100px;
      margin: 0;
      box-shadow: none;
    }
  }
  .uwp_upload_file_remove {
    display: inline-block;
    float: left;
    width: auto;
    margin: 0 0 5px;
    box-shadow: none;
    clear: both;
  }
  .uwp_form_radio_row {
    .uwp-radios {
      padding: 0 0 0 10px;
    }
    .uwp-radio-first {
      padding-left: 0;
    }
  }

  .uwp-user-search {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .uwp-user-search input[type="text"] {
    padding: 9px;
    font-size: 14px;
    border-width: 1px;
  }
  .uwp-user-search .uwp-search-submit {
    padding: 9px 15px;
    font-size: 14px;
    border: 1px solid transparent;
  }

  .uwp-chosen-container-multi .chosen-choices {
    padding: 6px 15px;
    box-sizing: border-box;
  }
  .uwp_multiselect_list .uwp-chosen-container-multi .chosen-choices li.search-choice {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.uwp_widgets {
  h2 {
    display: none;
  }
}