.uwp_order_button,
.uwp_order_button:hover,
.uwp_order_button:visited {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #757575;
  background-color: #ebe9eb;
  border: 0;
  white-space: nowrap;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.uwp-order-actions {
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
  a {
    float: left;
    margin-left: 10px;
  }
}