//alerts
$alert-yellow:      #FCF8E3;
$alert-red:         #F2DEDE;
$alert-green:       #DFF0D8;
$alert-blue:        #D9EDF7;

$alert-yellow-text: #8A6D3B;
$alert-red-text:    #A94442;
$alert-green-text:  #3C763D;
$alert-blue-text:   #31708F;

$alert-yellow-border:#FAEBCC;
$alert-red-border:  #EBCCD1;
$alert-green-border:#D6E9C6;
$alert-blue-border: #BCE8F1;