html {background: #353c7c;background: linear-gradient(-225deg, #353c7c, #5c5a82);margin: 0;height: 100vh;background-attachment: fixed;}
.uwp-setup {background: #fff;color: #444;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;margin: 40px auto 25px;padding: 20px 20px 10px 20px;max-width: 700px;-webkit-font-smoothing: subpixel-antialiased;border-radius: 5px;box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);height: auto;}
h1#uwp-logo {text-align: center;border-bottom: 1px solid #ddd;clear: both;color: #666;font-size: 24px;padding: 0;padding-bottom: 7px;font-weight: 400;}
ol.uwp-setup-steps {padding: 0 0 24px;margin: 0;list-style: none outside;overflow: hidden;color: #ccc;width: 100%;display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex;}
ol.uwp-setup-steps li {width: 50%;float: left;padding: 0 0 0.8em;margin: 0;text-align: center;position: relative;border-bottom: 4px solid #ccc;line-height: 1.4em;}
ol.uwp-setup-steps li.done,ol.uwp-setup-steps li.active {border-color: #353c7c;color: #353c7c;}
ol.uwp-setup-steps li:before {content: '';border: 4px solid #ccc;border-radius: 100%;width: 4px;height: 4px;position: absolute;bottom: 0;left: 50%;margin-left: -6px;margin-bottom: -8px;background: #fff;}
ol.uwp-setup-steps li.done:before {border-color: #353c7c;background: #353c7c;}
ol.uwp-setup-steps li.active:before{border-color: #353c7c;}
h1#uwp-logo a {text-decoration: none;}
h1#uwp-logo a span {font-size: 36px;vertical-align: middle;}
h1#uwp-logo a span.dashicons {background: #353c7c;color: #FFF;padding: 10px;border-radius: 50%;font-size: 30px;width: auto;height: auto;}
h1#uwp-logo a span span.text-primary {color: #2981b3;}
.uwp-setup-content h2 {border-bottom: 1px solid #ddd;clear: both;color: #666;font-size: 24px;padding: 0;padding-bottom: 7px;font-weight: 400;}
.uwp-setup-content  p {padding-bottom: 2px;font-size: 14px;line-height: 1.5;color: #5d5c5c;}
.uwp-setup-content p.uwp-setup-actions {text-align: right;}
.uwp-setup-content .button {font-size: 1.25em;margin-right: 10px;}
p.uwp-return-to-dashboard-wrap {text-align: center;border-top: 1px solid #ddd;padding-top: 20px;}
.uwp-setup-content ul {padding: 0;margin: 0;}
.uwp-setup-content ul li.uwp-sub-menu-tab {display: inline-block;}
.uwp-setup-content ul li.uwp-sub-menu-tab a {border: 1px solid;padding: 5px;border-radius: 4px;border-color: #353c7c;color: #353c7c;text-decoration: none;}
.uwp-setup-content ul li.uwp-sub-menu-tab a:hover {color: #fff;background-color: #353c7c;}
select.uwp-select {width: 100%;padding: 5px 10px;max-width: 100%;}
.uwp_dummy_button {padding: 5px 20px !important;font-size: 14px !important;}
.uwp-notification{position: relative;display: inline-block;text-align: left;margin: 3px 0;vertical-align: middle;background: #3c417d;color: #fff;border: 0;border-radius: 3px;font-size: 14px;padding: 15px 15px;line-height: 20px;width: 100%;box-sizing: border-box;}
.uwp-notification:empty {display: none;}
.uwp-pb-wrapper .progressBar {height: 20px;margin-bottom: 20px;overflow: hidden;background-color: #f5f5f5;border-radius: 4px;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);box-shadow: inset 0 1px 2px rgba(0,0,0,.1);border: none;width: 100%;}
.uwp-pb-wrapper .progressBar div {float: left;width: 0;height: 100%;font-size: 12px;line-height: 20px;color: #fff;text-align: center;background-color: #337ab7;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;}
#uwp_diagnose_add_dummy_users .notice {margin: 0 !important;}
.uwp-wizard-recommend ul {width: 100%;display: block;}
.uwp-wizard-recommend ul li {display: block;margin: 5px 0;}
.uwp-wizard-recommend ul li a {border: 0;}
.uwp-wizard-recommend ul li a:hover {background: transparent;color: #353c7c;}
.uwp-wizard-recommend ul li i.fas.fa-check-circle {color: #1aab00;}
.uwp-wizard-menu {margin: 10px 0;padding: 10px;}
.uwp-wizard-menu-result:empty {display: none;}
.button.uwp_remove_dummy_users_button {background: #ff0303;border-color: #ff0303;}
.button.uwp_remove_dummy_users_button:hover {background: #e90707;border-color: #e90707;}