.button-primary.uwp-advanced-toggle {
  float: right;
  margin: 10px; }

.single_select_page .select2-container {
  display: inline-block; }

/* tooltip css */
.uwp-tooltip-wrap {
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  /* webkit flicker fix */
  -webkit-font-smoothing: antialiased;
  /* webkit text rendering fix */
  width: 100%;
  display: block; }

/* IE can just show/hide with no transition */
.lte8 .uwp-tooltip-wrap .uwp-tooltip {
  display: none; }

.uwp-ui-tooltip {
  padding: 7px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  background: #333 !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5);
  box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5);
  color: #dedede !important;
  text-rendering: optimizeLegibility;
  text-shadow: none !important;
  white-space: pre-line;
  /* show line breaks */
  word-wrap: break-word;
  border-width: 1px; }

.uwp-help-tip {
  cursor: help;
  float: right;
  margin: 2px -15px 0 0; }

.uwp-settings-title .uwp-help-tip {
  float: none;
  margin: 0 0 0 10px; }

.uwp-upload-fields {
  float: left;
  margin-left: 12px; }

.uwp-upload-display.thumbnail {
  float: left;
  min-width: 25px;
  min-height: 25px; }

.uwp-upload-img .centered {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle; }

.uwp-upload-display img {
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
  margin: auto; }

.uwp-pb-wrapper .progressBar {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none; }
  .uwp-pb-wrapper .progressBar div {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease; }

span.uwp-custom-desc code {
  position: relative;
  background-color: #e0e0e0;
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  color: #6d6d6d;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  display: inline-block; }

span.uwp-custom-desc code.uwp-tag-copied:before {
  content: 'Copied';
  position: absolute;
  background: #000;
  color: #FFF;
  top: -30px;
  left: calc(50% - 35px);
  padding: 5px 10px;
  border-radius: 5px;
  font-style: normal; }

span.uwp-custom-desc code.uwp-tag-copied:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -29px 0 0 -4px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  display: none; }

.uwp-tag-copied span {
  content: " ";
  position: absolute;
  top: 25px;
  left: 50%;
  margin: -29px 0 0 -4px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

.profile_seo_meta_separator-wrap td.forminp-radio ul li {
  display: inline-block;
  margin-right: 5px; }

.profile_seo_meta_separator-wrap td.forminp-radio ul li label input.uwp-seo-meta-separator {
  position: absolute;
  top: -20px;
  left: 0; }

.profile_seo_meta_separator-wrap td.forminp-radio ul li label {
  padding: 10px 15px;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  margin: 0px !important;
  border: 1px solid #CCC;
  margin-right: 10px; }

.profile_seo_meta_separator-wrap td.forminp-radio ul li label.active {
  border-color: #007bba;
  border-width: 2px; }

/*# sourceMappingURL=users-wp-admin.css.map */
