@import "partials/variables";
@import "partials/imageselect";
@import "partials/modal";
@import "partials/common";
@import "partials/forms";
@import "partials/buttons";
//templates
@import "partials/account";
@import "partials/users";
@import "partials/profile";
//addons
@import "partials/orders";
//bg images
.uwp-bs-modal-loading-icon {
  background-image: url("../images/loading.gif");
}