.uwp_page .uwp-login-form label,
.uwp_page .uwp-registration-form label,
.uwp_page .uwp-forgot-form label,
.uwp_page .uwp-change-form label,
.uwp_page .uwp-account-form label,
.uwp_widgets .uwp-login-form label,
.uwp_widgets .uwp-registration-form label,
.uwp_widgets .uwp-forgot-form label,
.uwp_widgets .uwp-change-form label,
.uwp_widgets .uwp-account-form label,
.uwp_adv_search_form .uwp-login-form label,
.uwp_adv_search_form .uwp-registration-form label,
.uwp_adv_search_form .uwp-forgot-form label,
.uwp_adv_search_form .uwp-change-form label,
.uwp_adv_search_form .uwp-account-form label {
  display: none; }
.uwp_page .uwp-login-form input[type="text"],
.uwp_page .uwp-login-form textarea,
.uwp_page .uwp-login-form input[type="password"],
.uwp_page .uwp-login-form input[type="number"],
.uwp_page .uwp-login-form input[type="button"],
.uwp_page .uwp-login-form input[type="phone"],
.uwp_page .uwp-login-form input[type="tel"],
.uwp_page .uwp-login-form input[type="time"],
.uwp_page .uwp-login-form input[type="submit"],
.uwp_page .uwp-login-form input[type="url"],
.uwp_page .uwp-login-form input[type="email"],
.uwp_page .uwp-login-form input[type="file"],
.uwp_page .uwp-login-form select,
.uwp_page .uwp-registration-form input[type="text"],
.uwp_page .uwp-registration-form textarea,
.uwp_page .uwp-registration-form input[type="password"],
.uwp_page .uwp-registration-form input[type="number"],
.uwp_page .uwp-registration-form input[type="button"],
.uwp_page .uwp-registration-form input[type="phone"],
.uwp_page .uwp-registration-form input[type="tel"],
.uwp_page .uwp-registration-form input[type="time"],
.uwp_page .uwp-registration-form input[type="submit"],
.uwp_page .uwp-registration-form input[type="url"],
.uwp_page .uwp-registration-form input[type="email"],
.uwp_page .uwp-registration-form input[type="file"],
.uwp_page .uwp-registration-form select,
.uwp_page .uwp-forgot-form input[type="text"],
.uwp_page .uwp-forgot-form textarea,
.uwp_page .uwp-forgot-form input[type="password"],
.uwp_page .uwp-forgot-form input[type="number"],
.uwp_page .uwp-forgot-form input[type="button"],
.uwp_page .uwp-forgot-form input[type="phone"],
.uwp_page .uwp-forgot-form input[type="tel"],
.uwp_page .uwp-forgot-form input[type="time"],
.uwp_page .uwp-forgot-form input[type="submit"],
.uwp_page .uwp-forgot-form input[type="url"],
.uwp_page .uwp-forgot-form input[type="email"],
.uwp_page .uwp-forgot-form input[type="file"],
.uwp_page .uwp-forgot-form select,
.uwp_page .uwp-change-form input[type="text"],
.uwp_page .uwp-change-form textarea,
.uwp_page .uwp-change-form input[type="password"],
.uwp_page .uwp-change-form input[type="number"],
.uwp_page .uwp-change-form input[type="button"],
.uwp_page .uwp-change-form input[type="phone"],
.uwp_page .uwp-change-form input[type="tel"],
.uwp_page .uwp-change-form input[type="time"],
.uwp_page .uwp-change-form input[type="submit"],
.uwp_page .uwp-change-form input[type="url"],
.uwp_page .uwp-change-form input[type="email"],
.uwp_page .uwp-change-form input[type="file"],
.uwp_page .uwp-change-form select,
.uwp_page .uwp-account-form input[type="text"],
.uwp_page .uwp-account-form textarea,
.uwp_page .uwp-account-form input[type="password"],
.uwp_page .uwp-account-form input[type="number"],
.uwp_page .uwp-account-form input[type="button"],
.uwp_page .uwp-account-form input[type="phone"],
.uwp_page .uwp-account-form input[type="tel"],
.uwp_page .uwp-account-form input[type="time"],
.uwp_page .uwp-account-form input[type="submit"],
.uwp_page .uwp-account-form input[type="url"],
.uwp_page .uwp-account-form input[type="email"],
.uwp_page .uwp-account-form input[type="file"],
.uwp_page .uwp-account-form select,
.uwp_widgets .uwp-login-form input[type="text"],
.uwp_widgets .uwp-login-form textarea,
.uwp_widgets .uwp-login-form input[type="password"],
.uwp_widgets .uwp-login-form input[type="number"],
.uwp_widgets .uwp-login-form input[type="button"],
.uwp_widgets .uwp-login-form input[type="phone"],
.uwp_widgets .uwp-login-form input[type="tel"],
.uwp_widgets .uwp-login-form input[type="time"],
.uwp_widgets .uwp-login-form input[type="submit"],
.uwp_widgets .uwp-login-form input[type="url"],
.uwp_widgets .uwp-login-form input[type="email"],
.uwp_widgets .uwp-login-form input[type="file"],
.uwp_widgets .uwp-login-form select,
.uwp_widgets .uwp-registration-form input[type="text"],
.uwp_widgets .uwp-registration-form textarea,
.uwp_widgets .uwp-registration-form input[type="password"],
.uwp_widgets .uwp-registration-form input[type="number"],
.uwp_widgets .uwp-registration-form input[type="button"],
.uwp_widgets .uwp-registration-form input[type="phone"],
.uwp_widgets .uwp-registration-form input[type="tel"],
.uwp_widgets .uwp-registration-form input[type="time"],
.uwp_widgets .uwp-registration-form input[type="submit"],
.uwp_widgets .uwp-registration-form input[type="url"],
.uwp_widgets .uwp-registration-form input[type="email"],
.uwp_widgets .uwp-registration-form input[type="file"],
.uwp_widgets .uwp-registration-form select,
.uwp_widgets .uwp-forgot-form input[type="text"],
.uwp_widgets .uwp-forgot-form textarea,
.uwp_widgets .uwp-forgot-form input[type="password"],
.uwp_widgets .uwp-forgot-form input[type="number"],
.uwp_widgets .uwp-forgot-form input[type="button"],
.uwp_widgets .uwp-forgot-form input[type="phone"],
.uwp_widgets .uwp-forgot-form input[type="tel"],
.uwp_widgets .uwp-forgot-form input[type="time"],
.uwp_widgets .uwp-forgot-form input[type="submit"],
.uwp_widgets .uwp-forgot-form input[type="url"],
.uwp_widgets .uwp-forgot-form input[type="email"],
.uwp_widgets .uwp-forgot-form input[type="file"],
.uwp_widgets .uwp-forgot-form select,
.uwp_widgets .uwp-change-form input[type="text"],
.uwp_widgets .uwp-change-form textarea,
.uwp_widgets .uwp-change-form input[type="password"],
.uwp_widgets .uwp-change-form input[type="number"],
.uwp_widgets .uwp-change-form input[type="button"],
.uwp_widgets .uwp-change-form input[type="phone"],
.uwp_widgets .uwp-change-form input[type="tel"],
.uwp_widgets .uwp-change-form input[type="time"],
.uwp_widgets .uwp-change-form input[type="submit"],
.uwp_widgets .uwp-change-form input[type="url"],
.uwp_widgets .uwp-change-form input[type="email"],
.uwp_widgets .uwp-change-form input[type="file"],
.uwp_widgets .uwp-change-form select,
.uwp_widgets .uwp-account-form input[type="text"],
.uwp_widgets .uwp-account-form textarea,
.uwp_widgets .uwp-account-form input[type="password"],
.uwp_widgets .uwp-account-form input[type="number"],
.uwp_widgets .uwp-account-form input[type="button"],
.uwp_widgets .uwp-account-form input[type="phone"],
.uwp_widgets .uwp-account-form input[type="tel"],
.uwp_widgets .uwp-account-form input[type="time"],
.uwp_widgets .uwp-account-form input[type="submit"],
.uwp_widgets .uwp-account-form input[type="url"],
.uwp_widgets .uwp-account-form input[type="email"],
.uwp_widgets .uwp-account-form input[type="file"],
.uwp_widgets .uwp-account-form select,
.uwp_adv_search_form .uwp-login-form input[type="text"],
.uwp_adv_search_form .uwp-login-form textarea,
.uwp_adv_search_form .uwp-login-form input[type="password"],
.uwp_adv_search_form .uwp-login-form input[type="number"],
.uwp_adv_search_form .uwp-login-form input[type="button"],
.uwp_adv_search_form .uwp-login-form input[type="phone"],
.uwp_adv_search_form .uwp-login-form input[type="tel"],
.uwp_adv_search_form .uwp-login-form input[type="time"],
.uwp_adv_search_form .uwp-login-form input[type="submit"],
.uwp_adv_search_form .uwp-login-form input[type="url"],
.uwp_adv_search_form .uwp-login-form input[type="email"],
.uwp_adv_search_form .uwp-login-form input[type="file"],
.uwp_adv_search_form .uwp-login-form select,
.uwp_adv_search_form .uwp-registration-form input[type="text"],
.uwp_adv_search_form .uwp-registration-form textarea,
.uwp_adv_search_form .uwp-registration-form input[type="password"],
.uwp_adv_search_form .uwp-registration-form input[type="number"],
.uwp_adv_search_form .uwp-registration-form input[type="button"],
.uwp_adv_search_form .uwp-registration-form input[type="phone"],
.uwp_adv_search_form .uwp-registration-form input[type="tel"],
.uwp_adv_search_form .uwp-registration-form input[type="time"],
.uwp_adv_search_form .uwp-registration-form input[type="submit"],
.uwp_adv_search_form .uwp-registration-form input[type="url"],
.uwp_adv_search_form .uwp-registration-form input[type="email"],
.uwp_adv_search_form .uwp-registration-form input[type="file"],
.uwp_adv_search_form .uwp-registration-form select,
.uwp_adv_search_form .uwp-forgot-form input[type="text"],
.uwp_adv_search_form .uwp-forgot-form textarea,
.uwp_adv_search_form .uwp-forgot-form input[type="password"],
.uwp_adv_search_form .uwp-forgot-form input[type="number"],
.uwp_adv_search_form .uwp-forgot-form input[type="button"],
.uwp_adv_search_form .uwp-forgot-form input[type="phone"],
.uwp_adv_search_form .uwp-forgot-form input[type="tel"],
.uwp_adv_search_form .uwp-forgot-form input[type="time"],
.uwp_adv_search_form .uwp-forgot-form input[type="submit"],
.uwp_adv_search_form .uwp-forgot-form input[type="url"],
.uwp_adv_search_form .uwp-forgot-form input[type="email"],
.uwp_adv_search_form .uwp-forgot-form input[type="file"],
.uwp_adv_search_form .uwp-forgot-form select,
.uwp_adv_search_form .uwp-change-form input[type="text"],
.uwp_adv_search_form .uwp-change-form textarea,
.uwp_adv_search_form .uwp-change-form input[type="password"],
.uwp_adv_search_form .uwp-change-form input[type="number"],
.uwp_adv_search_form .uwp-change-form input[type="button"],
.uwp_adv_search_form .uwp-change-form input[type="phone"],
.uwp_adv_search_form .uwp-change-form input[type="tel"],
.uwp_adv_search_form .uwp-change-form input[type="time"],
.uwp_adv_search_form .uwp-change-form input[type="submit"],
.uwp_adv_search_form .uwp-change-form input[type="url"],
.uwp_adv_search_form .uwp-change-form input[type="email"],
.uwp_adv_search_form .uwp-change-form input[type="file"],
.uwp_adv_search_form .uwp-change-form select,
.uwp_adv_search_form .uwp-account-form input[type="text"],
.uwp_adv_search_form .uwp-account-form textarea,
.uwp_adv_search_form .uwp-account-form input[type="password"],
.uwp_adv_search_form .uwp-account-form input[type="number"],
.uwp_adv_search_form .uwp-account-form input[type="button"],
.uwp_adv_search_form .uwp-account-form input[type="phone"],
.uwp_adv_search_form .uwp-account-form input[type="tel"],
.uwp_adv_search_form .uwp-account-form input[type="time"],
.uwp_adv_search_form .uwp-account-form input[type="submit"],
.uwp_adv_search_form .uwp-account-form input[type="url"],
.uwp_adv_search_form .uwp-account-form input[type="email"],
.uwp_adv_search_form .uwp-account-form input[type="file"],
.uwp_adv_search_form .uwp-account-form select {
  margin: 0 0 20px;
  padding: 12px 15px;
  height: auto;
  line-height: normal;
  width: 100%;
  box-sizing: border-box; }
.uwp_page .uwp-login-form input[type="checkbox"],
.uwp_page .uwp-login-form input[type="radio"],
.uwp_page .uwp-registration-form input[type="checkbox"],
.uwp_page .uwp-registration-form input[type="radio"],
.uwp_page .uwp-forgot-form input[type="checkbox"],
.uwp_page .uwp-forgot-form input[type="radio"],
.uwp_page .uwp-change-form input[type="checkbox"],
.uwp_page .uwp-change-form input[type="radio"],
.uwp_page .uwp-account-form input[type="checkbox"],
.uwp_page .uwp-account-form input[type="radio"],
.uwp_widgets .uwp-login-form input[type="checkbox"],
.uwp_widgets .uwp-login-form input[type="radio"],
.uwp_widgets .uwp-registration-form input[type="checkbox"],
.uwp_widgets .uwp-registration-form input[type="radio"],
.uwp_widgets .uwp-forgot-form input[type="checkbox"],
.uwp_widgets .uwp-forgot-form input[type="radio"],
.uwp_widgets .uwp-change-form input[type="checkbox"],
.uwp_widgets .uwp-change-form input[type="radio"],
.uwp_widgets .uwp-account-form input[type="checkbox"],
.uwp_widgets .uwp-account-form input[type="radio"],
.uwp_adv_search_form .uwp-login-form input[type="checkbox"],
.uwp_adv_search_form .uwp-login-form input[type="radio"],
.uwp_adv_search_form .uwp-registration-form input[type="checkbox"],
.uwp_adv_search_form .uwp-registration-form input[type="radio"],
.uwp_adv_search_form .uwp-forgot-form input[type="checkbox"],
.uwp_adv_search_form .uwp-forgot-form input[type="radio"],
.uwp_adv_search_form .uwp-change-form input[type="checkbox"],
.uwp_adv_search_form .uwp-change-form input[type="radio"],
.uwp_adv_search_form .uwp-account-form input[type="checkbox"],
.uwp_adv_search_form .uwp-account-form input[type="radio"] {
  margin-bottom: 20px; }
.uwp_page .uwp-login-form .uwp_form_radio_row label,
.uwp_page .uwp-registration-form .uwp_form_radio_row label,
.uwp_page .uwp-forgot-form .uwp_form_radio_row label,
.uwp_page .uwp-change-form .uwp_form_radio_row label,
.uwp_page .uwp-account-form .uwp_form_radio_row label,
.uwp_widgets .uwp-login-form .uwp_form_radio_row label,
.uwp_widgets .uwp-registration-form .uwp_form_radio_row label,
.uwp_widgets .uwp-forgot-form .uwp_form_radio_row label,
.uwp_widgets .uwp-change-form .uwp_form_radio_row label,
.uwp_widgets .uwp-account-form .uwp_form_radio_row label,
.uwp_adv_search_form .uwp-login-form .uwp_form_radio_row label,
.uwp_adv_search_form .uwp-registration-form .uwp_form_radio_row label,
.uwp_adv_search_form .uwp-forgot-form .uwp_form_radio_row label,
.uwp_adv_search_form .uwp-change-form .uwp_form_radio_row label,
.uwp_adv_search_form .uwp-account-form .uwp_form_radio_row label {
  display: block; }
.uwp_page .uwp-login-form .uwp_form_file_row label,
.uwp_page .uwp-registration-form .uwp_form_file_row label,
.uwp_page .uwp-forgot-form .uwp_form_file_row label,
.uwp_page .uwp-change-form .uwp_form_file_row label,
.uwp_page .uwp-account-form .uwp_form_file_row label,
.uwp_widgets .uwp-login-form .uwp_form_file_row label,
.uwp_widgets .uwp-registration-form .uwp_form_file_row label,
.uwp_widgets .uwp-forgot-form .uwp_form_file_row label,
.uwp_widgets .uwp-change-form .uwp_form_file_row label,
.uwp_widgets .uwp-account-form .uwp_form_file_row label,
.uwp_adv_search_form .uwp-login-form .uwp_form_file_row label,
.uwp_adv_search_form .uwp-registration-form .uwp_form_file_row label,
.uwp_adv_search_form .uwp-forgot-form .uwp_form_file_row label,
.uwp_adv_search_form .uwp-change-form .uwp_form_file_row label,
.uwp_adv_search_form .uwp-account-form .uwp_form_file_row label {
  display: block; }
.uwp_page .uwp-login-form .uwp_form_file_row input,
.uwp_page .uwp-registration-form .uwp_form_file_row input,
.uwp_page .uwp-forgot-form .uwp_form_file_row input,
.uwp_page .uwp-change-form .uwp_form_file_row input,
.uwp_page .uwp-account-form .uwp_form_file_row input,
.uwp_widgets .uwp-login-form .uwp_form_file_row input,
.uwp_widgets .uwp-registration-form .uwp_form_file_row input,
.uwp_widgets .uwp-forgot-form .uwp_form_file_row input,
.uwp_widgets .uwp-change-form .uwp_form_file_row input,
.uwp_widgets .uwp-account-form .uwp_form_file_row input,
.uwp_adv_search_form .uwp-login-form .uwp_form_file_row input,
.uwp_adv_search_form .uwp-registration-form .uwp_form_file_row input,
.uwp_adv_search_form .uwp-forgot-form .uwp_form_file_row input,
.uwp_adv_search_form .uwp-change-form .uwp_form_file_row input,
.uwp_adv_search_form .uwp-account-form .uwp_form_file_row input {
  font-size: 13px;
  border: 1px solid #bbb;
  border-radius: 3px; }
.uwp_page .uwp-login-form input[type="submit"],
.uwp_page .uwp-registration-form input[type="submit"],
.uwp_page .uwp-forgot-form input[type="submit"],
.uwp_page .uwp-change-form input[type="submit"],
.uwp_page .uwp-account-form input[type="submit"],
.uwp_widgets .uwp-login-form input[type="submit"],
.uwp_widgets .uwp-registration-form input[type="submit"],
.uwp_widgets .uwp-forgot-form input[type="submit"],
.uwp_widgets .uwp-change-form input[type="submit"],
.uwp_widgets .uwp-account-form input[type="submit"],
.uwp_adv_search_form .uwp-login-form input[type="submit"],
.uwp_adv_search_form .uwp-registration-form input[type="submit"],
.uwp_adv_search_form .uwp-forgot-form input[type="submit"],
.uwp_adv_search_form .uwp-change-form input[type="submit"],
.uwp_adv_search_form .uwp-account-form input[type="submit"] {
  background: #717171 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }
.uwp_page .uwp-login-form .chosen-container-multi .chosen-choices,
.uwp_page .uwp-registration-form .chosen-container-multi .chosen-choices,
.uwp_page .uwp-forgot-form .chosen-container-multi .chosen-choices,
.uwp_page .uwp-change-form .chosen-container-multi .chosen-choices,
.uwp_page .uwp-account-form .chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-login-form .chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-registration-form .chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-forgot-form .chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-change-form .chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-account-form .chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-login-form .chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-registration-form .chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-forgot-form .chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-change-form .chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-account-form .chosen-container-multi .chosen-choices {
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px; }
.uwp_page .uwp-login-form .uwp_multiselect_list,
.uwp_page .uwp-registration-form .uwp_multiselect_list,
.uwp_page .uwp-forgot-form .uwp_multiselect_list,
.uwp_page .uwp-change-form .uwp_multiselect_list,
.uwp_page .uwp-account-form .uwp_multiselect_list,
.uwp_widgets .uwp-login-form .uwp_multiselect_list,
.uwp_widgets .uwp-registration-form .uwp_multiselect_list,
.uwp_widgets .uwp-forgot-form .uwp_multiselect_list,
.uwp_widgets .uwp-change-form .uwp_multiselect_list,
.uwp_widgets .uwp-account-form .uwp_multiselect_list,
.uwp_adv_search_form .uwp-login-form .uwp_multiselect_list,
.uwp_adv_search_form .uwp-registration-form .uwp_multiselect_list,
.uwp_adv_search_form .uwp-forgot-form .uwp_multiselect_list,
.uwp_adv_search_form .uwp-change-form .uwp_multiselect_list,
.uwp_adv_search_form .uwp-account-form .uwp_multiselect_list {
  margin-bottom: 20px; }
.uwp_page .uwp_wc_form label,
.uwp_widgets .uwp_wc_form label,
.uwp_adv_search_form .uwp_wc_form label {
  display: inline !important; }
.uwp_page .uwp_wc_form h3,
.uwp_widgets .uwp_wc_form h3,
.uwp_adv_search_form .uwp_wc_form h3 {
  display: none; }
.uwp_page .uwp_wc_form p,
.uwp_widgets .uwp_wc_form p,
.uwp_adv_search_form .uwp_wc_form p {
  margin: 0; }
.uwp_page .uwp-remember-me,
.uwp_widgets .uwp-remember-me,
.uwp_adv_search_form .uwp-remember-me {
  float: left; }
.uwp_page .uwp-register-now,
.uwp_widgets .uwp-register-now,
.uwp_adv_search_form .uwp-register-now {
  padding-bottom: 5px; }
.uwp_page .uwp-login-links .uwp-logout-link,
.uwp_widgets .uwp-login-links .uwp-logout-link,
.uwp_adv_search_form .uwp-login-links .uwp-logout-link {
  text-align: right; }
.uwp_page .uwp-dashboard-links select,
.uwp_widgets .uwp-dashboard-links select,
.uwp_adv_search_form .uwp-dashboard-links select {
  width: 100%;
  box-sizing: border-box; }
.uwp_page .uwp_input_fieldset,
.uwp_widgets .uwp_input_fieldset,
.uwp_adv_search_form .uwp_input_fieldset {
  margin: 0 0 10px;
  padding: 0; }
.uwp_page .uwp_upload_file_preview,
.uwp_widgets .uwp_upload_file_preview,
.uwp_adv_search_form .uwp_upload_file_preview {
  float: left;
  box-shadow: none;
  margin-bottom: 5px;
  display: inline-block; }
  .uwp_page .uwp_upload_file_preview img,
  .uwp_widgets .uwp_upload_file_preview img,
  .uwp_adv_search_form .uwp_upload_file_preview img {
    width: 100px;
    margin: 0;
    box-shadow: none; }
.uwp_page .uwp_upload_file_remove,
.uwp_widgets .uwp_upload_file_remove,
.uwp_adv_search_form .uwp_upload_file_remove {
  display: inline-block;
  float: left;
  width: auto;
  margin: 0 0 5px;
  box-shadow: none;
  clear: both; }
.uwp_page .uwp_form_radio_row .uwp-radios,
.uwp_widgets .uwp_form_radio_row .uwp-radios,
.uwp_adv_search_form .uwp_form_radio_row .uwp-radios {
  padding: 0 0 0 10px; }
.uwp_page .uwp_form_radio_row .uwp-radio-first,
.uwp_widgets .uwp_form_radio_row .uwp-radio-first,
.uwp_adv_search_form .uwp_form_radio_row .uwp-radio-first {
  padding-left: 0; }
.uwp_page .uwp-user-search,
.uwp_widgets .uwp-user-search,
.uwp_adv_search_form .uwp-user-search {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.uwp_page .uwp-user-search input[type="text"],
.uwp_page .uwp-user-search input[type="phone"],
.uwp_page .uwp-user-search input[type="url"],
.uwp_page .uwp-user-search input[type="email"],
.uwp_widgets .uwp-user-search input[type="text"],
.uwp_widgets .uwp-user-search input[type="phone"],
.uwp_widgets .uwp-user-search input[type="url"],
.uwp_widgets .uwp-user-search input[type="email"],
.uwp_adv_search_form .uwp-user-search input[type="text"],
.uwp_adv_search_form .uwp-user-search input[type="phone"],
.uwp_adv_search_form .uwp-user-search input[type="url"],
.uwp_adv_search_form .uwp-user-search input[type="email"] {
  padding: 9px;
  font-size: 14px;
  border-width: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.uwp_page .uwp-user-search .uwp-search-submit,
.uwp_page .uwp-user-search .uwp_advanced_search_btn,
.uwp_widgets .uwp-user-search .uwp-search-submit,
.uwp_widgets .uwp-user-search .uwp_advanced_search_btn,
.uwp_adv_search_form .uwp-user-search .uwp-search-submit,
.uwp_adv_search_form .uwp-user-search .uwp_advanced_search_btn {
  padding: 9px 15px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-left: -5px;
  border-radius: 0 3px 3px 0;
  line-height: normal; }
.uwp_page .uwp-user-search .uwp_advanced_search_btn,
.uwp_widgets .uwp-user-search .uwp_advanced_search_btn,
.uwp_adv_search_form .uwp-user-search .uwp_advanced_search_btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #333;
  background-color: #fff;
  border-color: #bbb; }
.uwp_page .uwp-chosen-container-multi .chosen-choices,
.uwp_widgets .uwp-chosen-container-multi .chosen-choices,
.uwp_adv_search_form .uwp-chosen-container-multi .chosen-choices {
  padding: 6px 15px;
  box-sizing: border-box; }
.uwp_page .uwp_multiselect_list .uwp-chosen-container-multi .chosen-choices li.search-choice,
.uwp_widgets .uwp_multiselect_list .uwp-chosen-container-multi .chosen-choices li.search-choice,
.uwp_adv_search_form .uwp_multiselect_list .uwp-chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 5px;
  margin-bottom: 5px; }

.widget .uwp-content-wrap h2 {
  display: none; }
.widget .uwp-content-wrap .uwp-lf-icon {
  display: none; }
.widget .uwp-content-wrap .uwp-rf-icon {
  display: none; }

.uwp_page .ui-timepicker-div dl {
  margin-top: 0;
  margin-bottom: 20px; }
.uwp_page .ui-timepicker-div dd {
  margin-left: 60%; }
  .uwp_page .ui-timepicker-div dd select {
    float: none; }
.uwp_page .ui-timepicker-div dt {
  float: none;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700; }
.uwp_page .ui-timepicker-div dd, .uwp_page .ui-timepicker-div dt {
  line-height: 1.42857143; }

.uwp_page .uwp-login-form div#uwp_account_first_name_row,
.uwp_page .uwp-registration-form div#uwp_account_first_name_row,
.uwp_page .uwp-account-form div#uwp_account_first_name_row {
  width: 49%;
  float: left;
  margin: 0 2% 0 0;
  padding: 0;
  clear: none; }
.uwp_page .uwp-login-form div#uwp_account_last_name_row,
.uwp_page .uwp-registration-form div#uwp_account_last_name_row,
.uwp_page .uwp-account-form div#uwp_account_last_name_row {
  width: 49%;
  float: right;
  margin: 0;
  padding: 0;
  clear: none; }
.uwp_page .uwp_clear {
  clear: both; }

@media screen and (max-width: 480px) {
  .uwp_page .uwp-login-form div#uwp_account_first_name_row,
  .uwp_page .uwp-registration-form div#uwp_account_first_name_row,
  .uwp_page .uwp-account-form div#uwp_account_first_name_row {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    clear: both; }
  .uwp_page .uwp-login-form div#uwp_account_last_name_row,
  .uwp_page .uwp-registration-form div#uwp_account_last_name_row,
  .uwp_page .uwp-account-form div#uwp_account_last_name_row {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    clear: both; } }
/*--------------------------------------------------------------
Alerts
--------------------------------------------------------------*/
.uwp-alert-warning, .uwp-alert-info, .uwp-alert-error, .uwp-alert-success {
  margin: 0 0 10px;
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 4px; }

.uwp-alert-warning {
  color: #8A6D3B;
  border-color: #FAEBCC;
  background: #FCF8E3; }

.uwp-alert-info {
  color: #31708F;
  border-color: #BCE8F1;
  background: #D9EDF7; }

.uwp-alert-error {
  color: #A94442;
  border-color: #EBCCD1;
  background: #F2DEDE; }

.uwp-alert-success {
  color: #3C763D;
  border-color: #D6E9C6;
  background: #DFF0D8; }

/*# sourceMappingURL=widgets.css.map */
