.uwp_page,
.uwp_widgets,
.uwp_adv_search_form {
  .uwp-login-form,
  .uwp-registration-form,
  .uwp-forgot-form,
  .uwp-change-form,
  .uwp-account-form {

    label {
      display: none;
    }

    input[type="text"],
    textarea,
    input[type="password"],
    input[type="number"],
    input[type="button"],
    input[type="phone"],
    input[type="tel"],
    input[type="time"],
    input[type="submit"],
    input[type="url"],
    input[type="email"],
    input[type="file"],
    select {
      margin: 0 0 20px;
      padding: 12px 15px;
      height: auto;
      line-height: normal;
      width: 100%;
      box-sizing: border-box;
    }

    .select2-container{
      margin: 0 0 20px;
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin-bottom: 20px;
    }
    .uwp_form_radio_row {
      label {
        display: block;
      }
    }
    .uwp_form_file_row {
      label {
        display: block;
      }
      input {
        font-size: 13px;
        border: 1px solid #bbb;
        border-radius: 3px;
      }

    }

    input[type="submit"] {
      background: #717171 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
    }
  }
  .uwp_wc_form {
    label {
      display: inline !important;
    }
    h3 {
      display: none;
    }
    p {
      margin: 0;
    }
  }

  .uwp-remember-me {
    float: left;
  }

  .uwp-forgotpsw {
    //float: right;
  }

  .uwp-register-now{
    //border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }

  .uwp-login-links{
    .uwp-logout-link{
      text-align: right;
    }
  }

  .uwp-dashboard-links{
      select{
        width: 100%;
        box-sizing: border-box;
      }
  }

  .uwp-register-now, .uwp-login-now {
    //display: block;
    //margin: 30px 0 0;
    //text-align: center
  }
  .uwp_input_fieldset {
    margin: 0 0 10px;
    padding: 0;
  }
  .uwp_upload_file_preview {
    float: left;
    box-shadow: none;
    margin-bottom: 5px;
    display: inline-block;
    img {
      width: 100px;
      margin: 0;
      box-shadow: none;
    }
  }
  .uwp_upload_file_remove {
    display: inline-block;
    float: left;
    width: auto;
    margin: 0 0 5px;
    box-shadow: none;
    clear: both;
  }
  .uwp_form_radio_row {
    .uwp-radios {
      padding: 0 0 0 10px;
    }
    .uwp-radio-first {
      padding-left: 0;
    }
  }

  .uwp-user-search {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .uwp-user-search {
    input[type="text"],
    input[type="phone"],
    input[type="url"],
    input[type="email"] {
      padding: 9px;
      font-size: 14px;
      border-width: 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .uwp-user-search {
    .uwp-search-submit,
    .uwp_advanced_search_btn {
      padding: 9px 15px;
      font-size: 14px;
      border: 1px solid transparent;
      margin-left: -5px;
      border-radius: 0 3px 3px 0;
      line-height: normal;
    }
    .uwp_advanced_search_btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: #333;
      background-color: #fff;
      border-color: #bbb;
    }
  }

  .uwp-remember-me input#remember_me {
    margin-bottom: 0;
  }
}
.widget {
  .uwp-content-wrap {
    h2 {
      display: none;
    }
    .uwp-lf-icon {
      display: none;
    }
    .uwp-rf-icon {
      display: none;
    }
  }
}

.uwp_page {
  .ui-timepicker-div {
    dl {
      margin-top: 0;
      margin-bottom: 20px;
    }
    dd {
      margin-left: 60%;
      select {
        float: none;
      }
    }
    dt {
      float: none;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
    }

    dd, dt {
      line-height: 1.42857143;
    }
  }
}

.uwp_page{
  .uwp-login-form,
  .uwp-registration-form,
  .uwp-account-form {
    div#uwp_account_first_name_row {
      width: 49%;
      float: left;
      margin: 0 2% 0 0;
      padding: 0;
      clear: none;
    }

    div#uwp_account_last_name_row {
      width: 49%;
      float: right;
      margin: 0;
      padding: 0;
      clear: none;
    }
  }
  .uwp_clear {
    clear: both;
  }
}

.uwp-account .uwp_wc_form .form-row label,
.uwp-account .uwp_wc_form .form-row span {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .uwp_page{
    .uwp-login-form,
    .uwp-registration-form,
    .uwp-account-form {
      div#uwp_account_first_name_row {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        clear: both;
      }

      div#uwp_account_last_name_row {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        clear: both;
      }
    }
  }
}