.uwp_page {
  .uwp-modal {
    box-sizing: border-box;
    display: table;
    width: 80%;
    position: fixed;
    background-color: #fff;
    top: 30%;
    left: 10%;
    border: 4px dashed #bbb;
    z-index: 9999;
  }

  .uwp_upload_button {
    margin: 30px auto;
    display: block;
  }

  .uwp-modal-content-wrap {
    position: relative;
    z-index: 6;
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .uwp-modal-title {
    margin: 0;
    background: #fff;
    -webkit-border-radius: 6px 6px 0 0;
    border-bottom: 4px dashed #bbb;
    padding-bottom: 11px
  }

  .uwp-modal-title h2 {
    margin: 0 20px 0 0;
    font-size: 18px;
    line-height: 1.33333em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
  }

  .uwp-modal-content,
  .uwp-modal-title {
    padding: 12px 18px;
  }

  .uwp-modal-close-x {
    cursor: pointer;
    position: absolute;
    right: 28px;
    top: 20px;
    z-index: 9;
  }

  #save_uwp_avatar,
  #save_uwp_banner {
    float: left;
  }
  #uwp-avatar-to-crop {
    float: left;
    margin: 0 auto 20px;
    text-align: left;
  }
  .uwp-modal-content .jcrop-holder {
    float: left;
    margin: 0 20px 20px auto;
    text-align: left;
  }
  .uwp-avatar-crop-p-wrap {
    float: left;
    clear: none;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
  }
  #uwp-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
  }
  #uwp-avatar-crop-pane,
  #uwp-banner-crop-pane {
    overflow: hidden;
    img {
      max-width: none;
      max-height: none
    }
  }
  .uwp-modal-content .jcrop-holder img {
    max-width: none;
  }
  .jcrop-keymgr {
    opacity: 0;
  }
}

.uwp_page {
  .uwp-bs-modal-open {
    overflow: hidden;
  }

  .uwp-bs-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    //overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    &.uwp_fade .uwp-bs-modal-dialog {
      -webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      -webkit-transform: translate(0,-25%);
      -ms-transform: translate(0,-25%);
      -o-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
    &.uwp_show .uwp-bs-modal-dialog {
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
    }
    input[type="submit"],
    button.uwp_modal_btn {
      padding: 0.75em 2em;
      line-height:1;
      font-size: 14px;
    }
  }
  .uwp-bs-modal-open .uwp-bs-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .uwp-bs-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    padding: 0;
  }
  button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
  }
  .modal-header .close {
    margin-top: -2px;
  }

  .uwp-bs-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
  }

  .uwp-bs-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;

    &.uwp_fade { opacity: 0; }
    &.uwp_show { opacity: .5; }
  }

  .uwp-bs-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  .uwp-bs-modal-title {
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
  }

  .uwp-bs-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
  }

  .uwp-bs-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #e5e5e5;

    > :not(:first-child) { margin-left: .25rem; }
    > :not(:last-child) { margin-right: .25rem; }
  }

  .uwp-bs-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  @media (min-width: 768px) {
    .uwp-bs-modal-dialog {
      width: 600px;
      margin: 50px auto;
    }
  }
  @media (min-width: 1024px) {
    .uwp-bs-modal-dialog {
      width: 700px;
      margin: 50px auto;
    }
  }
}
.uwp-bs-modal-loading-icon-wrap {
  text-align: center;
  padding: 70px 0;
}
.uwp-bs-modal-loading-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url("../../images/loading.gif");
}
.uwp-crop-form input[type="submit"]:disabled {
  opacity: .5;
}
.uwp-bs-modal,
.uwp-pb-wrapper {
  #progressBar {
    height: 5px;
    width: 100%;
    border: 1px solid #111;
    background-color: #292929;
  }

  #progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
  }
  .tiny-green {
    position: relative;
    padding: 3px;

    background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
    background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
    background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
    background-image:linear-gradient(-180deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);

    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border-radius: 10px;
  }

  .tiny-green div {
    font-size: 3px;
    color: white;
    text-align: right;
    text-shadow: 0 0 2px #000;
    text-indent: 9999px;
    overflow: hidden;

    background-image:-webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, rgb(118,177,1)),color-stop(0.47, rgb(118,177,1)),color-stop(0.48, rgb(102,153,0)),color-stop(1, rgb(102,153,0)));
    background-image:-webkit-linear-gradient(-90deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
    background-image:-moz-linear-gradient(71% 25% -180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
    background-image:linear-gradient(-180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);

    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Webkit */
    border-radius: 10px;
  }
}